#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#main {
    display: flex;
    flex-direction: column;
}

.photograph-header article a {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.photograph-header h2 {
    color: #D3573C;
}

.photograph-header p:nth-child(2) {
    color: #901C1C;
}

.photograph-header p:nth-of-type(2) {
    color: #525252;
}

/* Système de tri */
.sort {
    margin: 30px 100px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

}

.sort #combo1-label {
    margin-right: 30px;
}

.sort #sort_type {
    display: none;
}

.select_selected {
    background-color: #901C1C;
}

.select_selected::after {
    /* position: absolute; */
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    /* color: #ffffff; */
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 455px;
    left: 164px;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


.combo *,
.combo *::before,
.combo *::after {
    box-sizing: border-box;

}


.combo {
    display: block;
    margin-bottom: 1.5em;
    max-width: 400px;
    position: relative;
}


.combo svg {
    background-image: url("../assets/icons/sortArrow.svg");
    background-repeat: no-repeat;
    position: relative;
    top: -30px;
    left: 130px;
    width: 160px;
    height: 16px;
}

.open svg {
    transform: translate(-140px, -5px) rotate(180deg);
}

.combo-input {
    background-color: #901C1C;
    color: #FFFFFF;
    border: 2px solid rgb(0 0 0 / 75%);
    border-radius: 4px;
    display: block;
    font-size: 1em;
    min-height: calc(1.4em + 26px);
    padding: 12px 50px 14px 14px;
    text-align: left;
    width: 100%;
}

.open .combo-input {
    border-radius: 4px 4px 0 0;
}

.combo-input:focus {
    border-color: #0067b8;
    box-shadow: 0 0 4px 2px #0067b8;
    outline: 4px solid transparent;
}

.combo-label {
    display: block;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0.25em;
}

.combo-menu {
    background-color: #901C1C;
    border: 1px solid rgb(0 0 0 / 75%);
    border-radius: 0 0 4px 4px;
    display: none;
    max-height: 300px;
    left: 0;
    position: absolute;
    top: 45px;
    width: 100%;
    z-index: 100;
}

.open .combo-menu {
    display: block;
}

.combo-option {
    color: #fff;
    padding: 10px 12px 12px;
}

.combo-option:hover {
    background-color: rgb(0 0 0 / 10%);
}

.combo-option.option-current {
    outline: 3px solid #0067b8;
    outline-offset: -3px;
}

.combo-option[aria-selected="true"] {
    padding-right: 30px;
    position: relative;
}

.combo-option[aria-selected="true"]::after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: "";
    height: 16px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    width: 8px;
}

/* Système de tri */
.container_media {
    width: 30%;
    margin-bottom: 15px;
}

.container_media img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.container_media video {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.main_container_media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
}

.details_media {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    align-items: baseline;
}

.details_media h3 {
    margin: 9px 0px 26px 0px;
}

.details_media p {
    align-items: flex-end;
    cursor: pointer;
    font-weight: 600;
}

.details_media svg {
    background: url("../assets/icons/favorite-24px\ 1.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 21px;
}

.likes svg {
    background: url("../assets/icons/heart.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 21px;
}

.likesAndPrice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 25px;
    background-color: #DB8876;
    color: #000;
    margin: 0;
    padding: 25px;
    font-size: 24px;
    width: 280px;
    height: 25px;
    text-align: center;
}

.contact_button,
#submitForm {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    left: 30%;
    top: 5%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 35px;
}

form div:last-of-type textarea {
    height: 140px;
    width: 100%;
    font-size: 35px;
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 57px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 2;
}

.lightbox_next,
.lightbox_prev {
    background: url(../assets/icons/arrow.svg) center center;
    background-repeat: no-repeat;
    padding: 0px 40px;
    width: 30px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    text-indent: -4000px;
    cursor: pointer;
    border: none;

}

.lightbox_prev {
    right: auto;
    left: 0;
    transform: rotate(180deg)
}

.lightbox_close {
    width: 72px;
    height: 72px;
    background: url(../assets/icons/closeLightbox.svg) center center no-repeat;
    border: none;
    position: fixed;
    text-indent: -4000px;
    top: 25px;
    right: 85px;
    z-index: 2;
    cursor: pointer;
}

.lightbox_container img,
.lightbox_container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lightbox_container video {
    display: none;
}

.lightbox_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    height: 90%;

}

.lightbox_container .title_lightbox {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    align-self: flex-start;
}

/* Lightbox */
.background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4);
}